<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bantads</a>  
</nav>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
          
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#!">Extrato</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#!">Deposito</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#!">Saque</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#!">Transferência</a>    
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
           
            <!-- Page content-->
            <div class="container-fluid">
                <h1 class="mt-4">Simple Sidebar</h1>
                <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                <p>
                    Make sure to keep all page content within the
                    <code>#page-content-wrapper</code>
                    . The top navbar is optional, and just for demonstration. Just create an element with the
                    <code>#sidebarToggle</code>
                    ID which will toggle the menu when clicked.
                </p>
            </div>
        </div>
    </div>
   
</body>

  