<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bantads</a>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-left">
        <li class="nav-item active">
          <a class="nav-link " href="#">Abrir minha Conta <span class="sr-only">(current)</span></a>
        </li>                 
        <li>           
            <input class="form-control mr-sm-2 float-left" type="search" placeholder="número da Conta" aria-label="search">    
        </li>
        <li>
            <button class="btn btn-outline-success my-2 my-sm-0 float-left" type="submit" >Acessar Conta</button>
        </li>
      </ul>     
    </div>
</nav>

<div class="media">
    <img class="align-self-center mr-3" src="./assets/tads.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Center-aligned media</h5>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div>
